version: '3'

services:
    nginx:
        image: nginx
        volumes:
            - ./nginx.conf:/etc/nginx/conf.d/default.conf
            - ./logs/nginx:/var/log/nginx
            - web-static:/www/static
            - web-media:/www/media
        ports:
            - "80:80"

    web:
        build: ./web
        volumes:
            - ./web:/app
            - ./logs/web:/var/log/web
            - web-static:/app/static
            - web-media:/app/media
        ports:
            - "8000:8000"
        env_file:
            - .deploy_env
        links:
            - postgres:postgres
            - redis:redis
        command: gunicorn project.wsgi:application -w 4 -b :8000

    postgres:
        image: postgres
        restart: always
        volumes:
            - ./db:/var/lib/postgresql/data/
        ports:
            - "5432:5432"

    redis:
        image: redis
        restart: always
        ports:
            - "6379:6379"


volumes:
    web-static:
    web-media:
