[Unit]
Description=ExampleService
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=docker-compose -f /path/to/demo/deploy.yml up
ExecStop=docker-compose -f /path/to/demo/deploy.yml stop
ExecReload=docker-compose -f /path/to/demo/deploy.yml restart
StandardOutput=journal+console
StandardError=journal+console
Restart=always

[Install]
WantedBy=multi-user.target
